doctype html
html(lang="en")
	head
		link(rel='stylesheet', href="https://unpkg.com/sakura.css/css/sakura.css")
		title Portafolio
	body
		nav 
			| [ 
			a  Résumé 
			|  ]
		h1 Edgar Arroyo 

		p Opensourced projects I've made

		article
			h2 Tororu text editor
			p: a(href="https://github.com/Cacilie/tororu", target="_blank") Repository
			p: a(href="https://cacilie.github.io/tororu/", target="_blank") App
